.birthday-card {
    border: 2px solid #c41e3a;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    position: relative;
    margin: 20px;
    transition: transform 1s;
}

/* .birthday-card.opened {
    transform: rotateY(-180deg);
} */

.birthday-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.birthday-card {
    transform-style: preserve-3d;
    perspective: 1000px;

}

.birthday-card.opened .front {
    transform: rotateY(-99deg);
    transform-origin: left;
    backface-visibility: visible;
}

.birthday-card .front {
    transform: rotateY(-1deg);
    transform-origin: left;
    backface-visibility: visible;
    transition: all 2s;
}


.front,
.inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: visible;

}

.front {
    background-color: #c41e3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.front button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #c41e3a;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.inside {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c41e3a;

}

iframe {
    margin-bottom: 20px;
}