@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

body {
    background-color: #757575;
    font-family: 'Baloo 2', cursive;
}

.birthday-card {
    border: 2px solid #FFD500;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    position: relative;
    margin: 20px;
    transition: transform 1s;
}

/* .birthday-card.opened {
    transform: rotateY(-180deg);
} */

.birthday-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.birthday-card {
    transform-style: preserve-3d;
    perspective: 1000px;

}

.birthday-card.opened .front {
    transform: rotateY(-99deg);
    transform-origin: left;
    backface-visibility: visible;
}

.birthday-card .front {
    transform: rotateY(-1deg);
    transform-origin: left;
    backface-visibility: visible;
    transition: all 2s;
}

.runner {
    max-width: 50%;
    border-radius: 50%;
}

.runner2 {
    max-width: 40%;
}


.front,
.inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: visible;

}


.front {
    background-color: #c41e3a;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(45deg, rgba(2, 0, 36, 1) 20%, rgba(204, 16, 31, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(2, 0, 36, 1) 20%, rgba(204, 16, 31, 1) 100%);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 20%, rgba(204, 16, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#cc101f", GradientType=1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.front button {
    padding: 10px 20px;
    font-size: 20px;
    border-color: #FFD500;

    border-radius: 5px;
    color: #004481;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #004481;
    color: white;
    padding: 14px 20px;

    cursor: pointer;
    border-radius: 5px;
}

.inside {
    background-color: #eee7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #004481;

}

iframe {
    margin-bottom: 20px;
}

.inside-text {
    font-size: 1rem;
    text-align: center;
}

.inside-button {
    background-color: #CC101F;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: none;
    margin-right: 0;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}